<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>*@
    <title>@ViewBag.Title - Koulutehtävä</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @{ 
        if (Session["UserName"] == null)
        {
            Html.RenderPartial("_NavbarLoggedOut");
        }
        else
        {
                Html.RenderPartial("_NavbarLoggedIn");
        }
    }

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="oma-footer">
            @using System.Globalization
            @{ 
                string loggausinfo = "";
                if (Session["UserName"] == null)
                {
                    loggausinfo = "Et ole kirjautunut järjestelmään";
                }
                else
                {
                    loggausinfo = "Olet kirjautunut käyttäjänä: " + Session["UserName"];
                }
            }
            <p>&copy; Careeria TilausDB-sovellus, @loggausinfo, tänään on @DateTime.Today.ToString("D", CultureInfo.CreateSpecificCulture("fi-FI"))</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstraplux")
    @RenderSection("scripts", required: false)

    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
