@model IEnumerable<TilausDBWebApp.Models.Tilausrivit>

@{
    ViewBag.Title = "Index";
}

<h2>Tilausrivit</h2>

<p>
    <a class="btn btn-outline-primary fas fa-plus" style='color:black' href="~/Orderlines/Create/">Lisää uusi</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TilausriviID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuoteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuotteet.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ahinta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TilausriviID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TuoteID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tuotteet.Nimi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Maara)kpl
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ahinta)€
    </td>
    <td>
        <a class="btn btn-outline-primary fas fa-edit" style='color:black' href="~/Orderlines/Edit/@item.TilausriviID">Muokkaa</a>
        <a class="btn btn-outline-primary fas fa-trash-alt" style='color:black' href="~/Orderlines/Delete/@item.TilausriviID">Poista</a>
    </td>
</tr>
    }

</table>
