@model IEnumerable<TilausDBWebApp.Models.Tilaukset>

@{
    ViewBag.Title = "Index";
}

<h2>Tilaukset</h2>

<p>
    <a class="btn btn-outline-primary fas fa-plus" style='color:black' href="~/Orders/Create/">Lisää uusi</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TilausID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsiakasID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimitusosoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postinumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tilauspvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimituspvm)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TilausID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AsiakasID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Toimitusosoite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Postinumero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tilauspvm)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Toimituspvm)
    </td>
    <td>
        <a class="btn btn-outline-primary fas fa-edit" style='color:black' href="~/Orderlines/Edit/@item.TilausID">Muokkaa</a>
        <a class="btn btn-outline-primary fas fa-trash-alt" style='color:black' href="~/Orderlines/Delete/@item.TilausID">Poista</a>
    </td>
</tr>
    }

</table>
