@model IEnumerable<TilausDBWebApp.Models.Asiakkaat>

@{
    ViewBag.Title = "Index";
}

<h2>Asiakkaat</h2>

<p>
    <a class="btn btn-outline-primary fas fa-plus" style='color:black' href="~/Customers/Create/">Lisää uusi</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AsiakasID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postinumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AsiakasID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nimi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Osoite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Postinumero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
    </td>
    <td>
        <a class="btn btn-outline-primary fas fa-edit" style='color:black' href="~/Customers/Edit/@item.AsiakasID">Muokkaa</a>
        <a class="btn btn-outline-primary fas fa-trash-alt" style='color:black' href="~/Customers/Delete/@item.AsiakasID">Poista</a>
    </td>
</tr>
}

</table>
